* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a {
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: right;
  list-style: none;
  padding: 2rem 5rem;
}

nav ul li {
  margin-right: 3rem;
  position: relative;
}

nav ul li a {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

nav ul li.text-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 0%;
  height: 3px;
  border-radius: 2px;
  background-color: #9d6d4d;
  transition: all 500ms ease;
}

nav ul li.text-link:hover::after {
  width: 100%;
}

nav ul li.active::after {
  width: 100%;
}

nav ul li.icon-link {
  transition: all 500ms ease;
}

nav ul li.icon-link:hover {
  transform: scale(1.1);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main img {
  margin-top: 2rem;
  width: 250px;
}

main h1 {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 80px;
  letter-spacing: 3px;
}

main h2 {
  color: #fef6d9;
  font-size: 40px;
  letter-spacing: 3px;
}
