.intro-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.5s ease;
  z-index: 5;
  pointer-events: none;
}

.left-overlay {
  background-color: #895d39;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  transition: all 1.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-overlay {
  background-color: bisque;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  transition: all 1.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right-overlay.fade-out {
  right: -100%;
}

.left-overlay.fade-out {
  left: -100%;
}
